* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'League Spartan';
    font-size: 25px;
}
body {
    background-color: var(--color-theme_1-main-background);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    width: 90vw;
    max-width: 500px;
    min-width: 300px;
    display: grid;
    grid-template-rows: 40px minmax(90px, auto) 400px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    color: var(--color-theme_1-text-display);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    letter-spacing: 1px;
    height: 100%;
}

.header h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 15px;
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--color-theme_1-screen-background);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.currentValue {
    font-size: 38px;
    padding-right: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    text-align: right;
    color: var(--color-theme_1-text-display);
}

.keypad {
    background-color: var(--color-theme_1-keypad-background);
    border-radius: var(--border-radius);

    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;

    display: grid;
    grid-template-rows: repeat(5, 0.2fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
}
